<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.order.mapper.StockReservationMapper">

    <resultMap id="stockReservationMap" type="com.atguigu.spzx.model.entity.order.StockReservation" autoMapping="true">
    </resultMap>

    <sql id="columns">
        id,order_no,user_id,sku_id,reserve_num,reservation_status,expire_time,confirmed_time,released_time,create_time,update_time,is_deleted
    </sql>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into stock_reservation (
            id,
            order_no,
            user_id,
            sku_id,
            reserve_num,
            reservation_status,
            expire_time,
            confirmed_time,
            released_time
        ) values (
            #{id},
            #{orderNo},
            #{userId},
            #{skuId},
            #{reserveNum},
            #{reservationStatus},
            #{expireTime},
            #{confirmedTime},
            #{releasedTime}
        )
    </insert>

    <select id="getByOrderNo" resultMap="stockReservationMap">
        select <include refid="columns" />
        from stock_reservation
        where order_no = #{orderNo}
          and is_deleted = 0
    </select>

    <select id="findExpiredReserved" resultMap="stockReservationMap">
        select <include refid="columns" />
        from stock_reservation
        where reservation_status = 0
          and expire_time is not null
          and expire_time <= now()
          and is_deleted = 0
        order by id asc
        limit #{limit}
    </select>

    <select id="findReservedByOrderStatus" resultMap="stockReservationMap">
        select sr.id,sr.order_no,sr.user_id,sr.sku_id,sr.reserve_num,sr.reservation_status,sr.expire_time,sr.confirmed_time,sr.released_time,sr.create_time,sr.update_time,sr.is_deleted
        from stock_reservation sr
                 join order_info oi on oi.order_no = sr.order_no and oi.is_deleted = 0
        where sr.reservation_status = 0
          and oi.order_status = #{orderStatus}
          and sr.is_deleted = 0
        order by sr.id asc
        limit #{limit}
    </select>

    <update id="confirmByOrderNo">
        update stock_reservation
        set reservation_status = 1,
            confirmed_time = now(),
            update_time = now()
        where order_no = #{orderNo}
          and reservation_status = #{fromStatus}
          and is_deleted = 0
    </update>

    <update id="releaseByOrderNo">
        update stock_reservation
        set reservation_status = 2,
            released_time = now(),
            update_time = now()
        where order_no = #{orderNo}
          and reservation_status = #{fromStatus}
          and is_deleted = 0
    </update>

</mapper>
