<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.manager.mapper.SysRoleUserMapper">

    <delete id="deleteByUserId">
        delete from sys_user_role where user_id=#{userId}
    </delete>

    <insert id="doAssignBatch">
        insert into sys_user_role (user_id , role_id , create_time , update_time , is_deleted) values
        <foreach collection="roleIdList" item="roleId" separator=",">
            (#{userId}, #{roleId}, now(), now() , 0)
        </foreach>
    </insert>

    <select id="findSysUserRoleByUserId" resultType="long">
        select role_id from sys_user_role where user_id = #{userId}
    </select>
</mapper>